<p id="notice"><%= notice %></p>

<div class="container">
  <h1>duypham@tinypulse.com</h1>
  <h3>very first assignment from coderschool</h3>
  

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>